{% extends "_layout.twig" %}

{% set pageTitle = 'Gallery ' ~ gallery.name %}

{% block content %}
    <header>
		<div>
			<a class="btn" id="index" href="/">Index <span class="shortcut">⌘I</span></a>
		</div>
		<div>
			<button class="btn" id="mark-file">Mark file <span class="shortcut">D</span></button>
			<button class="btn" id="show-marked">Show marked files list <span class="shortcut">⌘D</span></button>
		</div>
	</header>
	<ul class="gallery" id="gallery" role="list">
		{% for image in images %}
			<li>
				<a id="{{ image.id }}" href="#">
					<img src="{{ image.path }}" loading="lazy" />
					<div class="caption">{{ image.name }}</div>
				</a>
			</li>
		{% endfor %}
	</ul>

	<dialog id="markedImagesDialog">
		<div class="content"></div>
		<form method="dialog">
			<input type="hidden" id="markedImagesInput" name="markedImagesInput">
			<button class="btn cancel">Cancel</button>
		</form>
	</dialog>

{% endblock %}